* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_2 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_58 {
  width: 160px;
  height: 41px;
  background: rgba(0,0,0,0.3400000035762787);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1685px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v5_2 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 136px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_31 {
  width: 52px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 35px;
  left: 938px;
  font-family: IBM Plex Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_36 {
  width: 86px;
  color: rgba(173,173,173,1);
  position: absolute;
  top: 35px;
  left: 1195px;
  font-family: IBM Plex Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_35 {
  width: 56px;
  color: rgba(173,173,173,1);
  position: absolute;
  top: 35px;
  left: 1059px;
  font-family: IBM Plex Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_37 {
  width: 88px;
  color: rgba(173,173,173,1);
  position: absolute;
  top: 35px;
  left: 1361px;
  font-family: IBM Plex Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_38 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1481px;
  border-radius: 50%;
}
.v5_48 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1545px;
  border-radius: 50%;
}
.v5_50 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1609px;
  border-radius: 50%;
}
.v5_55 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 1620px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_54 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 1554px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_47 {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 1493px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_56 {
  width: 160px;
  height: 41px;
  background: rgba(255,193,48,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1685px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v5_57 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 1721px;
  font-family: IBM Plex Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v5_63 {
  width: 639px;
  height: 605px;
  background: url("../images/guide-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 1206px;
  overflow: hidden;
}
.v5_64 {
  width: 582px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 136px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_75 {
  width: 582px;
  color: rgba(173,173,173,1);
  position: absolute;
  top: 486px;
  left: 136px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_65 {
  width: 100%;
  color: rgba(255,193,48,1);
  position: absolute;
  top: 279px;
  left: 136px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_76 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 741px;
  left: 136px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_77 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 741px;
  left: 579px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_78 {
  width: 278px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 772px;
  left: 136px;
  font-family: IBM Plex Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_88 {
  width: 278px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 778px;
  left: 579px;
  font-family: IBM Plex Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_89 {
  width: 255px;
  height: 57px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 826px;
  left: 136px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v5_91 {
  width: 169px;
  color: rgba(255,193,48,1);
  position: absolute;
  top: 837px;
  left: 179px;
  font-family: IBM Plex Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5_90 {
  width: 255px;
  height: 57px;
  background: rgba(255,193,48,1);
  opacity: 1;
  position: absolute;
  top: 830px;
  left: 579px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v5_102 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 843px;
  left: 658px;
  font-family: IBM Plex Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
